.md-button {
  display:inline-block;
  position:relative;
  cursor:pointer;
  width:20%;
  line-height:36px;
  vertical-align:middle;
  align-items:center;
  text-align:center;
  border-radius:3px;
  box-sizing:border-box;
  border:0;
  padding:0 6px;
  margin:6px 8px;
  background:transparent;
  white-space:nowrap;
  text-transform:uppercase;
  font-weight:500;
  font-size:14px;
  font-style:inherit;
  font-variant:inherit;
  font-family:inherit;
  text-decoration:none;
  overflow:hidden;
  color: rgba(255,255,255,0.87);
  -webkit-box-align: center;
  align-content: center;
  max-width: 100%;
  justify-content: space-around;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  background-color: rgb(16,108,200);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  transition:box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1)}
